.table_container {
	position: relative;
	height: 630px;
	overflow: auto;
}

.table {
	border-collapse: collapse;
	width: 100%;
	border: 1px solid #ddd;
	font-size: 18px;
}

.table th,
.table td {
	text-align: left;
	padding: 12px;
}

.table tr {
	border-bottom: 1px solid #ddd;
}

.table tr.header {
	background-color: #f1f1f1;
	position: sticky;
	top: 0;
}

.center_selected {
	padding-left: 1.5rem !important;
}

.pagination {
	/* background: red; */
	display: flex;
	align-items: center;
	justify-content: end;
	padding: 0.5rem 1rem 0.5rem 0;
}
.pagination_label {
	font-size: 1.2rem;
	font-weight: 300;
	margin-right: 0.5rem;
}
.pagination__button {
	cursor: pointer;
	font-size: 1.7rem;
	line-height: 1.7rem;
}
.pagination__button.disabled {
	cursor: default;
	color: #aeaeae;
}
